@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");

:root {
    --main-bg: #131419;
    --color-purple: #4447e2;
    --color-dark-gray: #2d2d3a;
    --color-3: #231f20;
    --color-bg-indigo: #1c1c24;
    --color-white: #ffffff;
    --color-gray: #5f5f6e;
    --color-solid-gray: #5f5f6f;
    --color-smoke-gray: #8e8e96;
    --color-ghost-gray: #A6ADB1;
    --base-skeleton-color: rgba(82, 82, 82, 0.205);
    --color-8: #262631;
    --base-skeleton-shine: rgba(110, 110, 110, 0.363);
    --color-9: #4b4b62;
    --color-light-gray: #343444;
    --transition: all 0.2s linear;
    --radius: 15px;
    --color-red: #e24444;
    --color-bg-switcher: #dde1e8;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/FontsFree-Net-SFProDisplay-BoldItalic.ttf") format("ttf"),
        url("/fonts/FontsFree-Net-SFProDisplay-MediumItalic.ttf") format("ttf"),
        url("/fonts/FontsFree-Net-SFProDisplay-Regular.ttf") format("ttf"),
        url("/fonts/FontsFree-Net-SFProDisplay-SemiboldItalic.ttf") format("ttf");
}

@mixin flex($dir, $align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $dir;
}

@mixin font_size($size, $type, $weight) {
    font-style: normal;
    font-weight: normal;
    font-size: $size + $type;
    font-weight: $weight;
    // line-height: ($size * 1.1) + $type;
}

@mixin background-gradient($base-color, $shine-color) {
    background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
    background-size: 600px;
}

$toggle-background-color-on: var(--color-dark-gray);
$toggle-background-color-off: var(--color-bg-switcher);
$toggle-control-color: var(--color-purple);
$toggle-width: 44px;
$toggle-height: 24px;
$toggle-gutter: 5px;
$toggle-radius: 50%;
$toggle-control-speed: 0.15s;
$toggle-control-ease: ease-in;

// These are our computed variables
// change at your own risk.
$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);

.base-container {
    max-width: calc(100vw - 100px * 2);
    width: 100%;
    margin: 0 auto;
}

.text-right {
    text-align: right;
}

.main-wrapper {
    margin: 2.5rem 0;

    &-title {
        @include font_size(1.625, rem, 500);
        color: var(--color-white);
    }
}

.toggle-control {
    position: relative;
    padding-left: $toggle-width;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    margin-top: -20px;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    input:checked ~ .control {
        background-color: $toggle-background-color-on;

        &:after {
            left: $toggle-width - $toggle-control-size - $toggle-gutter;
        }
    }

    .control {
        position: absolute;
        top: 0;
        left: 0;
        height: $toggle-height;
        width: $toggle-width;
        border-radius: $toggle-radius;
        background-color: $toggle-background-color-off;
        transition: background-color $toggle-control-speed $toggle-control-ease;

        &:after {
            content: "";
            position: absolute;
            left: $toggle-gutter;
            top: $toggle-gutter;
            width: $toggle-control-size;
            height: $toggle-control-size;
            border-radius: $toggle-radius;
            background: $toggle-control-color;
            transition: left $toggle-control-speed $toggle-control-ease;
        }
    }
}

.dropdown-enter {
    opacity: 0;
    transform: scale(0.9);
}
.dropdown-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.dropdown-exit {
    opacity: 1;
}

.dropdown-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.pages-enter {
    opacity: 0;
    transform: translateX(-100vw);
}

.pages-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all .3s linear;
}

.pages-exit {
    opacity: 1;
}

.pages-exit-active {
    opacity: 0;
    transform: translateX(-100vw);
    transition: all .3s linear;
}

.skeleton {
    &-top {
        display: flex;
    }

    &-avatar {
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 50%;
        background-color: var(--color-dark-gray);
        @include background-gradient(
            var(--base-skeleton-color),
            var(--base-skeleton-shine)
        );
        animation: shine-lines 1s infinite linear;
    }

    &-info {
        margin-left: 0.625rem;
        width: 7rem;

        &-inner {
            background-color: var(--color-dark-gray);
            border-radius: var(--radius);
            @include background-gradient(var(--base-skeleton-color), var(--base-skeleton-shine));
            animation: shine-lines 1s infinite linear;

            &:first-child {
                height: 1.125rem;
                margin-bottom: 6px;
            }

            &:last-child {
                height: 0.9rem;
            }
        }
    }

    &-img {
        width: 100%;
        height: 11.25rem;
        @include flex(row, center, center);
        background-color: var(--color-dark-gray);
        margin: 1.25rem 0;
        border-radius: var(--radius);
        @include background-gradient(var(--base-skeleton-color), var(--base-skeleton-shine));
        animation: shine-lines 1s infinite linear;
    }

    &-btn {
        height: 3.125rem;
        border-radius: var(--radius);
        background-color: var(--color-dark-gray);
        @include flex(row, center, center);
        @include background-gradient(var(--base-skeleton-color), var(--base-skeleton-shine));
        animation: shine-lines 1s infinite linear;

        &-inner {
            width: 6.25rem;
            height: 1.25rem;
            background-color: var(--color-light-gray);
            border-radius: var(--radius);
        }
    }
}

@keyframes shine-lines {
    0% {
        background-position: -100%;
    }

    40%,
    100% {
        background-position: 100%;
    }
}

.fixed-button {
    position: fixed;
    right: 1.875rem;
    bottom: 8.75rem;
    z-index: 1;
    background-color: var(--color-bg-indigo);
    border-radius: 50%;
    padding: 7px;
    overflow: hidden;

    button {
        background: transparent;
        border: none;
        outline: none;
    }
}