@import "./style";

html,
body {
  overflow-x: hidden;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  letter-spacing: 0.4px;

  &:focus {
    box-shadow: none !important;
    outline: none;
  }
}

p {
  margin-bottom: 0 !important;
}

hr {
  background-color: var(--color-white) !important;
  margin: 0.3rem 0 !important;
}

body {
  margin: 0;
  // font-family: "SR Pro Display", sans-serif !important;
  font-family: "Noto Sans JP", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg) !important;
}

.navbar-wrapper {
  background: var(--color-bg-indigo);
  border-bottom: 2px solid var(--color-dark-gray);

  .main-nav {
    padding: 1.3rem 0 0.8rem 0;

    .navbar-brand {
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;
      }

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 0;
        color: var(--color-white);
      }
    }

    .center-menu {
      @include flex(column, stretch, center);

      .nav {
        margin: 0 auto;
      }

      .nav-item {
        margin: 0 1rem;

        .nav-link {
          width: 100%;
          @include font_size(1.125, rem, 400);
          @include flex(row, center, stretch);
          color: var(--color-gray);
          transition: var(--transition);

          &.active,
          &:hover {
            filter: brightness(0) invert(1);
          }

          img {
            margin-right: 0.5rem;
          }
        }
      }
    }

    .user-info-nav {
      @include flex(row, center, flex-end);

      .coin-info {
        @include flex(row, center, space-between);
        background: var(--color-dark-gray);
        border-radius: var(--radius);
        padding: 0.3rem 1.875rem 0.3rem 0.3rem;
        min-width: 7.2rem;
        color: var(--color-white);
        margin-right: 0.625rem;

        .increase-btn-nav {
          background-color: var(--color-purple);
          width: 30px;
          height: 30px;
          display: inline-block;
          @include flex(row, center, center);
          border-radius: 10px;
          margin-right: 1.25rem;
        }

        .coin-balance {
          @include flex(row, center, stretch);

          img {
            margin-right: 5px;
          }
        }
      }

      .user-dropdown {
        position: relative;
        padding-right: 0;

        &-btn {
          background-color: transparent;
          border: none;

          img {
            &:first-child {
              border-radius: 50%;
              width: 40px;
              height: 40px;
              margin-right: 0.625rem;
            }

            &-caret {
              transition: var(--transition);
            }
          }
          .rotated {
            transform: rotateZ(180deg);
          }
        }

        &-wrapper {
          position: absolute;
          top: 100%;
          right: 1.2rem;
          // display: none;
          margin-top: 0.5rem;
          min-width: 15.6rem;
          z-index: 1;
          background: var(--color-bg-indigo);
          padding: 0.7rem;
          border: 2px solid var(--color-dark-gray);
          border-radius: var(--radius);
          cursor: auto;

          .list-group-item {
            background-color: transparent;
            color: var(--color-white);
            text-align: left;
            @include font_size(1, rem, 500);
            border: none;

            &.log-out {
              color: var(--color-red);
            }

            img {
              margin-right: 0.625rem;
            }

            * {
              text-decoration: none;
              color: inherit;
            }
          }

          .theme-switcher-btn {
            @include flex(row, center, space-between);
            width: 100%;
            background: transparent;
            border: none;
          }
        }
      }
    }
  }
}

.main-footer {
  color: var(--color-solid-gray);
  padding: 2rem 0;
  border-top: 2px solid #262631;

  .social-links {
    a {
      margin-right: 1.3rem;
    }
  }
}

.task-list {
  margin: 1.25rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 1.25rem;

  &-card {
    border-radius: var(--radius);
    background-color: var(--color-bg-indigo);
    padding: 1.25rem;

    &-top {
      display: flex;
      color: var(--color-white);
    }

    .avatar {
      border-radius: 50%;
      width: 3.125rem;
      height: 3.125rem;
      margin-right: 0.625rem;
      position: relative;
    }

    .task-owner-name {
      @include font_size(1, rem, 500);
    }

    .task-type {
      @include font_size(0.875, rem, 400);
      color: var(--color-solid-gray);

      &-img {
        position: absolute;
        bottom: 0;
        right: -4px;
        background: var(--color-bg-indigo);
        width: 16px;
        height: 16px;
        @include flex(row, center, center);
        border-radius: 50%;
        padding: 3px;

        img {
          object-fit: contain;
        }
      }
    }

    &-dropdown {
      margin-left: auto;
    }

    &-img {
      margin: 1.25rem 0;
      width: 100%;

      img {
        width: 100%;
        border-radius: var(--radius);
      }
    }
    .action-button {
      border-radius: var(--radius);
      text-decoration: none;
      border: 2px solid var(--color-purple);
      padding: 1rem 2rem;
      text-align: center;
      display: block;
      color: var(--color-white);
      @include font_size(1, rem, 500);
      transition: var(--transition);

      &:hover {
        background-color: var(--color-purple);
      }
    }
  }
}

.news-banner {
  margin: 4rem 0 6.25rem 0;
  border-radius: var(--radius);
  background-color: var(--color-bg-indigo);

  &-inner {
    padding: 1.25rem;
    display: flex;
    align-items: center;
  }

  &-img {
    flex: 0.6;
    border-radius: var(--radius);
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &-content {
    flex: 0.4;
    color: var(--color-white);
    padding-left: 2.5rem;

    &-title {
      @include font_size(2.125, rem, 500);
      padding-bottom: 1.25rem;
    }

    &-info {
      @include font_size(1.125, rem, 400);
      padding-bottom: 2.5rem;
    }

    &-date {
      @include font_size(0.875, rem, 400);
      color: var(--color-ghost-gray);
    }
  }
}

.news-cards {
  margin-top: 2.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1.56rem;

  .news-card {
    padding: 1.25rem;
    background-color: var(--color-bg-indigo);
    border-radius: var(--radius);
    color: var(--color-white);

    &-img {
      width: 100%;
      border-radius: var(--radius);
      overflow: hidden;
      margin-bottom: 1rem;

      img {
        width: 100%;
      }
    }

    &-info {
      padding: 0 5px;
      @include font_size(1.25, rem, 500);
    }

    &-date {
      margin-top: 0.625rem;
      padding: 0 5px;
      @include font_size(1, rem, 400);
      color: var(--color-ghost-gray);
    }
  }
}

.profile-wrapper {
  margin: 2.5rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;

  &-avatar {
    border-radius: var(--radius);
    padding: 1.25rem;
    background-color: var(--color-bg-indigo);
    margin-bottom: 3.125rem;

    &-img {
      width: 100%;
      border-radius: var(--radius);
      margin-bottom: 1.25rem;

      img {
        width: 100%;
        border-radius: var(--radius);
      }
    }
  }

  .upload-btn {
    border-radius: var(--radius);
    border: 2px solid var(--color-dark-gray);
    width: 100%;
    background-color: transparent;
    padding: 15px;
    color: var(--color-white);
    @include font_size(1, rem, 500);
    transition: var(--transition);

    &:hover {
      background: var(--color-purple);
      border: 2px solid var(--color-purple);
    }
  }

  &-left {
    grid-column: 1 / 4;
  }

  &-center {
    grid-column: 4 / 9;
    margin: 0 5rem;
  }

  &-right {
    grid-column: 10 / 13;
  }
}
